{% extends 'base.html.twig' %}

{% block title %}Contrat{% endblock %}

{% block body %}
    <h1>Contrat</h1>

    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Nom</th>
            </tr>
        </thead>
        <tbody>
        {% for contrat in contrats %}
            <tr>
                <td>{{ contrat.id }}</td>
                <td>{{ contrat.name }}</td>
                <td>
                    <a href="{{ path('contrat_show', {'id': contrat.id}) }}">Visualiser</a>
                    <a href="{{ path('contrat_edit', {'id': contrat.id}) }}">Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td>Aucun contrat</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('contrat_new') }}">Créer une contrat</a>
{% endblock %}
