{% extends 'base.html.twig' %}

{% block title %}Candidature{% endblock %}

{% block body %}
    <h1>Candidature</h1>

    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Prénom</th>
                <th>Nom</th>
                <th>Email</th>
            </tr>
        </thead>
        <tbody>
        {% for candidature in candidatures %}
            <tr>
                <td>{{ candidature.id }}</td>
                <td>{{ candidature.firstname }}</td>
                <td>{{ candidature.lastname }}</td>
                <td>{{ candidature.email }}</td>
                <td>
                    <a href="{{ path('candidature_show', {'id': candidature.id}) }}">Visualiser</a>
                    <a href="{{ path('candidature_edit', {'id': candidature.id}) }}">Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td>Aucune candidature</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('candidature_new') }}">Créer une candidature</a>
{% endblock %}
